@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
  overscroll-behavior-y: contain

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
